# =========================
# Build
# =========================
bin/
obj/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Arquivos gerados
# =========================
*.dll
*.exe
*.pdb

# =========================
# Configurações locais
# =========================
appsettings.Development.json

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db